body {
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
	
	
}

h6,
h5,
h4,
h3,
h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background-color:black;color:#007bff
	
}


h1 {
    font-family: 'Lato', sans-serif;
	font-weight: 500;
}

.navbar-brand img {width:200px;}
 
 #footer {background-color:black;color:#fff}
 
 #lowerfooter {background-color:darkgreen;}
 
 #lowerfooter i {font-size:50px;color:#fff;margin:17px 13px 4px 2px}
 
 
 
 
