body {
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
	
	
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: 'Lato', sans-serif;
	font-weight: 500;
}

.navbar-brand img {width:200px;}
 
 
 
 
 
 
<p>welcome</p> <h1>Flynn</h1>